/*
 |--------------------------------------------------------------------------
 | Fonts
 |--------------------------------------------------------------------------
 |
 | Import all fonts used in the template, the font configuration can be
 | seen in "tailwind.config.js".
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/theme
 |
 */
@import "./fonts/_roboto.css";

/*
 |--------------------------------------------------------------------------
 | Components
 |--------------------------------------------------------------------------
 |
 | Import CSS components.
 |
 */
@import "./components/base/_box.css";
@import "./components/base/_global.css";
@import "./components/base/_image-fit.css";
@import "./components/base/_scrollbar-hidden.css";
@import "./components/base/_typing-dots.css";
@import "./components/base/_zoom-in.css";
@import "./components/base/_intro.css";

/*
 |--------------------------------------------------------------------------
 | TailwindCSS Directives
 |--------------------------------------------------------------------------
 |
 | Import TailwindCSS directives and swipe out at build-time with all of
 | the styles it generates based on your configured design system.
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 |
 */

/* Customize the width of the scrollbar */
.thin-scrollbar::-webkit-scrollbar {
  width: 6px; /* Adjust the width */
  height: 6px; /* Adjust the height (for horizontal scroll) */
}

/* Customize the appearance of the scrollbar track */
.thin-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Adjust the background color */
}

/* Customize the appearance of the scrollbar thumb */
.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Adjust the color of the thumb */
  border-radius: 4px; /* Adjust the border radius */
}

/* Hover effect for the scrollbar thumb */
.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Adjust the color on hover */
}

/* For Firefox */
/* .thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
